*{
    margin: 0;
}
.head-container{
    background-color: #636C79;
}

.nav{
    display: flex;
    justify-content: space-between;
    padding: 30px;   
}


.list{
    display: flex;
    list-style: none;
    text-align: center;
    gap: 80px;
    justify-content: center;
    align-items: center;
}

.list li{
    color:#FFFFFF;
    font-size: 16px;
}

.nav button{
    background-color: transparent;
    border: 1px solid white;
    color: #FFFFFF;
    height: 40px;
    width: 160px;
}

.main{
    margin-top: 50px;
    display: flex;
}

.hero{
    display: flex;
    flex-direction: column;
}

.team{
    margin-top: -95px;
    height: 550px;
    width: 550px;
    padding: 120px;
}

.mail{
  height: 30px;
  width: 20px;  
  position: relative;
  bottom: -40px;
  left: 25px;
}

.hero h1{
    font-size: 75px;
    width: 590px;
    color: #FFFFFF;
}

.hero p{
    font-size: 25px;
    width: 560px;
    color: #FFFFFF;
}

.hero input{
    padding-left: 50px;
    width: 600px;
    height: 47px;
    font-size: 22px;
    text-align:initial;
}

.hero button{
    position: relative;
    top: -47px;
    right: -395px;
    width: 200px;
    height: 40px;
    font-size: 17px;
    background-color: #8BB7A2;
    border: 1px solid #8BB7A2;
    color: #FFFFFF;
}

.info{
    display: flex;
    flex-direction: column;
    margin-top: 100px;

}

.info h1{
    text-align: center;
    font-size: 50px;
    padding: 30px;
    width: 640px;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.num{
    display: flex;
    gap: 250px;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    list-style: none;
    font-weight: bolder;
}

.heads{
    display: flex;
    gap: 215px;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    list-style: none;
    font-weight: bolder;
}

.info img{
    height: 500px;
    width: 1100px;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 50px;
}


.pros{
    margin-top: 100px;
}

.title{
    text-align: center;
    font-size: 50px;
    padding: 30px;
    width: 460px;
    margin: auto;
}
.right{
    padding: 60px;
    margin: 38px;
    height: 500px;
    width: 500px;
    float: right;
}

.left{
    float: left;
    font-size: 35px;
    padding: 10px;
    margin-top: 150px;
    margin-left: 100px;
    width: 450px;
}

.pros p{
    width: 390px;
    padding: 10px;
    float: left;
    margin-left: 100px;
    font-size: 24px;
}

.lt{
    border: 1px solid #8BB7A2;
    background-color: #8BB7A2;
    color: #FFFFFF;
    height: 50px;
    width: 220px;
    float: left;
    margin-left: 120px;
    font-size: 20px;
    margin-top: 20px;
}

.left-img{
    padding: 125px;
    margin: 38px;
    height: 500px;
    width: 500px;
    float: left;
}

.right-p{
    float: right;
    font-size: 35px;
    margin-top: 150px;
    margin-right: 130px;
    padding: 10px;
    width: 450px;

}


.team-intro-head{
    position: relative;
    bottom: -200px;
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.team-intro-head h1{
    font-size: 35px;
    width: 260px;
    margin-left: -100px;
}

.team-intro-head p{
    font-size: 18px;
    float: right;
    width: 450px;
}

.team-intro-images{
    margin-top: 300px;
    display: flex;
    justify-content: space-around;
}

.team-intro-images img{
    height: 300px;
    width: 300px;
}

.names{
    display: flex;
    justify-content: space-around;
}

.name{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    font-size: 22px;
    font-weight: bold;
}

.job-desc{
    display: flex;
    justify-content: space-around;
}

.job-desc p{
    display: flex;
    width: 350px;
    font-size: 18px;
    font-weight: 20;
}

.sm{
         border: 1px solid #8BB7A2;
        background-color: #8BB7A2;
        color: #FFFFFF;
        height: 50px;
        width: 220px;
        font-size: 20px;
        margin-top: 50px;
        position: relative;
        right: -45%;
    }
    

.footer{
    background-color: black;
    margin-top: 160px;
    display: flex;
    font-size: 20px;
    gap: 100px;
    list-style: none;
    padding: 20px;
    line-height: 35px;
    color: #707071;
}

.footer img{
    height: 40px;
    width: 40px;
    display: flex;
    padding: 10px;
}

.head{
    color: white;
}

@media screen and (max-width:415px){
body{
    padding: 0;
    margin: 0;
    }   
    .head-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
    }
    .nav{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
    }
    .nav img{
        width: 120px;
        padding: 20px;
    }
    .list{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
    }
    .main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
    }
    .team{
        width: 290px;
        margin-left: -70px;
    }
    .hero{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
        height: 400px;
    }
    .hero h1{
        font-size: 30px;
        width: 300px;
        margin-left: -70px;

    }
    .hero p{
        font-size: 16px;
        width: 300px;
        margin-left: -70px;
    }
    .hero input{
        width: 250px;
        margin-left: -70px;
    }
    img[src="./assets/email.png"]{
        margin-left: -70px;
    }
    .hero button{
        position: relative;
        left: -0px;
        top: 20px;
    }    
    .info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
        width: 300px;
    }
    .info h1{
        margin-left: -70px;
        font-size: 30px;
        width: 300px;
        justify-content: center;
        margin: auto;
    }
    .heads{
        margin-left: -70px;
        display: flex;
        font-size: 14px;
        gap: 2px;        
        text-align: center;
        justify-content: center;
        margin: auto;

    }
    .num{
        margin-left: -70px;
        display: flex;
        font-size: 14px;    
        gap: 40px;
        text-align: center;
        justify-content: center;
        margin: auto;
    }
    img[src="./assets/pexels-fauxels-3184325.jpg"]{
        width: 290px;
        margin-left: -70px;
    }
    .pros{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
    }
    .title{
        margin-left: -70px;
        font-size: 30px;
        width: 300px;
        justify-content: center;
        margin: auto;
    }
    .right{
        width: 290px;
        margin-left: -30px;
    }
    .left, .right-p{
        margin-left: -70px;
        font-size: 30px;
        width: 300px;
        justify-content: center;
        margin: auto;        
    }
    .pros p{
        width: 300px;
        margin: 30px;
    }
    .lt{
        margin-left: 50px;
   }
   .left-img{
        width: 290px;
        margin-left: -70px;
   }
   .team-intro-head{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
        height: 500px;
    }
   .team-intro-head h1{
    font-size: 30px;
    width: 300px;
    justify-content: center;
    margin: auto;
    padding: 10px;
   }
   .team-intro-head p{
    position: relative;
    top: -150px;
    margin-left: -70px;
    font-size: 20px;
    width: 300px;
    justify-content: center;
    margin: auto;        
   }

   .team-intro-images{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    gap: 20px;
   }
   .names{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    float: left;
    width: 300px;
}
   .job-desc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    float: left;
    width: 300px;
}
.sm{
    justify-content: center;
    margin: auto;
    position: relative;
    left: 90px;
    margin-top: 20px;
}
.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    gap: 20px;
    padding: 20px;
    margin-top: 50px;
}
}

